.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background: #fff;
  --button-bgc: #f5f4fa;
  --hover-text: #fff;
}
body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.page-nav-list .link {
  color: var(--title-text-color);
}
.page-nav-list .link.current {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
}
.page-nav-list .link:hover,
.page-nav-list .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
}
footer {
  background-color: #2f303a;
}
.page-address {
  color: #fff;
}
.page-address .link {
  color: rgba(255, 255, 255, 0.6);
}
.link {
  text-decoration: none;
}
.title {
  color: var(--title-text-color);
}
.portfolio .button {
  background-color: var(--button-bgc);
  color: var(--title-text-color);
}
.portfolio .button:hover,
.portfolio .button:focus {
  background-color: var(--accent-color);
  color: var(--hover-text);
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--hover-text);
}
